body {
    font-family: Roboto, serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.activities {
}

.random-activity-button {
    border-radius: 16px;
    border: none;
    background-color: #373737;
    color: #fff;
    padding: 16px 16px;
    user-select: none;
    cursor: pointer;
    outline: none;
    margin: 16px;
}